@if (loading) {
<app-progress-bar></app-progress-bar>
}
@if (!loading) {
<div class="container">
    <div class="title mt-5">
        <h2>Listado de Productos</h2>
        <button type="button" class="btn btn-primary" routerLink="/add">Agregar Producto</button>
    </div>
    @if (listProducts.length > 0) {
    <table class="table table-hover mt-5">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
                <th scope="col">Stock</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            @for (item of listProducts; track $index ){
            <tr class="table-active">
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.price | currency}}</td>
                <td>{{item.stock}}</td>
                <td><button routerLink="/edit/{{item.id}}" type="button" class="btn btn-info btn-sm">Edit</button>
                    <button (click)="deleteProduct(item.id!)" type="button"
                        class="btn btn-secondary btn-sm ms-2">Delete</button>
                </td>

            </tr>
            }
        </tbody>
    </table>
    }
    @if (listProducts.length == 0) {
    <h5>No hay productos para mostrar</h5>
    }

</div>
}